<select id="filter-selector{{ popup_id }}">
  <option value="hour">by Hour</option>
  <option value="wday">by Weekday</option>
  <option value="date">by Date</option>
</select>
<canvas id="popupChart{{ popup_id }}" class="chart" width="400"></canvas>

<script>

  var ctx = document.getElementById('popupChart{{ popup_id }}')
  var chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ data.labels | safe}},
        datasets: [{
            label: '# of button presses',
            data: {{ data.data | safe}},
            backgroundColor: 'rgb(70, 70, 153)',
            borderColor: 'rgb(70, 70, 153)'
        }]
    },
    options: {
        scales: {
            yAxes: [{
              barPercentage: 1,
              categoryPercetange: 0.95,
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
  });

  $( '#filter-selector{{ popup_id }}' ).change(function() {
    $.get('/foi_popup/data', {
      'foi': '{{ foi }}',
      'filter_by': $( this ).val()},
      function (data) {
        chart.data.labels = data.labels
        chart.data.datasets[0].data = data.data
        chart.update()
      }
    )
  });

</script>
